body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

.page {
  width: 100%;
}

nav {
  /* outline: 1px dashed green; */
  width: 19%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 235px;
  position: fixed;
  top: 0px;
  left: 0px;
  border-style: double;
  box-shadow: 5px 5px 30px;
  background-color: #C5EFF7;
  float: left;
}

li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  background-color: #59ABE3;
}

li a {
  text-transform: uppercase;
  text-decoration: none;
}

.content {
  /* outline: 1px dashed green; */
  width: 70%;
  background-color: #fff;
  /* padding: 1%; */
  margin-right: 5%;
  /* margin-top: 20px; */
  float: right;
}

figure {
  /* outline: 1px dashed green; */
  /* float: right; */
}

figcaption {
  clear: both;
  /* float: right; */
  margin-top: -10px;
}

.imageStyle {
  width: 50%;
  /* float: right; */
  /* outline: 1px dashed green; */
}

header {
  /* outline: 1px dashed green; */
  min-height: 100px;
  background-color: #fff;
  /* background-image: url('../img/sakura.jpg'); */
}

header h1 {
  /* position: absolute; */
  padding-top: 30px;
  margin-top: 100px;
  margin-right: 30px;
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  padding: 50px;
}

#lean, #agile, #projektmetodik {
  border-style: double;
  box-shadow: 5px 5px 30px;
  padding: 10px;
  margin-top: 10px;
}

.greeting {
  text-transform: uppercase;
  /* border-style: double; */
  color: #75c1e5;
  margin-top: -350px;
  font-weight: 800;
  font-size: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}